{% extends 'base.html.twig' %}

{% block body %}
  {{ parent() }}

      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>Usted accedió con el usuario <strong>{{ app.user.username }}</strong></p>
      </div>

      <h1>Página Semi Pública:</h1>
      <p class="lead">En este ejemplo los usuarios serán levantados desde una base de datos.</p>
      <p class="lead">Solo los usuarios identificados pueden acceder a esta página.</p>
      <p>Para probar los diferentes accesos usar:</p>
      <p>User: <strong>paul</strong> Password: <strong>1234</strong> Role: <strong>User</strong></p>
      <p>User: <strong>john</strong> Password: <strong>4321</strong> Role: <strong>Admin</strong></p>

{% endblock %}
