{% extends 'base.html.twig' %}

{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="css/signin.css">
{% endblock %}

{% block body %}

  <div class="container">

    <form class="form-signin" action="{{ path('login') }}" method="post">

      <h2 class="form-signin-heading">Iniciar Sesión:</h2>

      {% if error %}
        <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Usuario o contraseña no validos.</strong>
        </div>
      {% endif %}

      <label for="inputUser" class="sr-only">Usuario:</label>
      <input type="text" id="inputUser" class="form-control" placeholder="Nombre De Usuario" name="_username" required autofocus>
      <label for="inputPassword" class="sr-only">Password:</label>
      <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Recordar
        </label>
      </div>
      <input type="hidden" name="_target_path" value="/" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>

    </form>

  </div> <!-- /container -->

{% endblock %}
